---
title: Brightcove 現場文檔
parent: null 
---

<style>
  小時1 { margin-bottom: 0; }
</style>

<article class="landing-page-wrapper">
  <section class="landing-page-header" id="landing_page_header">
    <h1 style="font-weight: bold;">{{ site.title }}</h1>
    <table width="100%" border="0">
	<tbody>
		<tr>
			<td width="30%">
			<div data-experience="5be4439bb5cd1c00106dc3f5" data-video-ids="6045789900001">&nbsp;</div>
			<script src="https://players.brightcove.net/20318290001/experience_5be4439bb5cd1c00106dc3f5/live.js"></script></td>
			<td width="70%">
			<h2>布萊特灣直播</h2>

			<p>直播模塊用於將現場事件廣播到桌面和移動設備。在直播模組中輸入您的活動資訊後，系統會提供一組編碼器設定，讓您插入現場編碼器。所有轉碼都在雲端完成，因此您不需要基於硬件的轉碼器。</p>

			<p>對於更複雜的使用案例和整合，您也可以使用即時 API。</p>
			</td>
		</tr>
	</tbody>
</table>
  </section>
  <section class="card-wrapper">
    {% for section in site.data.navigation offset:1 %}
    <section class="bcls-card-small" onclick="window.location.href='{{ section.url }}'">

      <div class="card-content">
        <h2>{{ section.name }}</h2>
        <ul>
          {% for doc in section.docs limit:4 %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %}
        </ul>
        <p style="font-size:small;"><a href="{{ section.url }}">查看全部...</a></p>
      </div>
    </section>
    {% endfor %}
  </section>
</article>